.table1{
    width: 400px;
    height: 100px;
    justify-content: space-evenly;
    border: 10px solid black;
}
.review-display{
    display: inline-flex;
    margin-left: 70px;
    margin-top: 10px;
    border: 10px solid green;
}

.one{
    min-height: 30vh;
    overflow-y: hidden;
}


