.introduction-container{
    padding: 3rem;
    height: 60vh;
    /* background-color: rgb(176, 166, 166); */
}
#rajupic{
    float:left;
    width: fit-content;
    padding:0  0.5rem 0 0;
    
}
.writin{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}