
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .Carousel-a{
    padding: 5rem;
    background-color:rgb(224, 224, 224);
    color: black;
    height: 70vh;
    width: 98vw;
  }
  .box-a{
    background-color: white;
    border: 5px solid red;
    height: 300px;
  }
  .box-a h4{
    text-align: center;
  }
  .box-a h6{
    text-align: center;
    margin: 20px 0px 0px 0px;
    line-height: 25px;
  }
  .box-a p{
    margin: 20px 0px 0px 0px;
    text-align: center;
  }
  .slick-slide div{
    margin: 0 1rem;
  }
  .slick-dots li.slick-active button:before {
    color: lightgreen !important;
  }
  .slick-dots li button:before {
    color: #fff !important;
    font-size: 1rem !important;
    top: 2rem !important;
  
  }
  .activity_logo{
    margin: 10px 0px 0px 70px;
  }
  .activities{
    text-align: center;
  }