.footer-container{
    width: 100%;
    background-color: rgb(89, 136, 224);
    height:100%;
    display: flex;
    justify-content: space-evenly;
    color: white;
    line-height: 25px;
}
.footer-container h3{
    padding: 15px 0px 0px 0px;
    /* font-size: small; */
}
.footer-activity h6{
    margin: 10px 0px 0px 0px;
    line-height: 25px;
    /* font-size: small; */
}
.footer-document h6{
    line-height: 25px;
}
.footer-document a{
    color: white;
    text-decoration: none;
}
.contact{
    width:25%;
    height:100%;
    color: white;
}
.contact p {
    padding: 10px 0px 0px 0px;
}
.footer-activity a{
    color: white;
    font-style: bold;
    text-decoration: none;
}

@media only screen and (max-width: 500px)
{
    .footer-container{
        width: 100%;
        font-size: xx-small;
        overflow-x: scroll;
    }
    .footer-container h3{
        padding: 0px 0px 0px 0px;
    }
    .contact
    {
        overflow-x: scroll;
    }
}
