.footer-container{
    background-color: rgb(89, 136, 224);
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    color: white;
    line-height: 25px;
}
.footer-container h3{
    padding: 15px 0px 0px 0px;
}
.footer-activity h6{
    margin: 10px 0px 0px 0px;
    line-height: 25px;
}
.footer-document h6{
    line-height: 25px;
}
.footer-document a{
    color: white;
    text-decoration: none;
}
.contact{
    width: 300px;
    height: 300px;
    color: white;
}
.contact p {
    padding: 10px 0px 0px 0px;
}
.footer-activity a{
    color: white;
    font-style: bold;
    text-decoration: none;
}