.footer-container{
    background-color: rgb(89, 136, 224);
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.contact{
    width: 300px;
    height: 300px;
    color: white;
}
.contact p {
    padding: 1rem;
}
.footer-activity a{
    color: white;
    font-style: bold;
    text-decoration: none;
}