*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .Carousel-p{
    padding: 5rem;
    background-color:rgb(224, 224, 224);
    color: black;
    height: 80vh;
    width: 100vw;
  }
  .box-p{
    background-color: rgb(255, 255, 255);
    border: 2px solid red;
    height: 400px;
    margin: 50px 0px 0px 0px ;
  }
  .box-p h2{
      margin: 10px 0px 0px 15px ;
  }
  .box-p p{
    margin: 15px 0px 0px 15px;
  }
  .slick-slide div{
    margin: 0 1rem;
  }
  .slick-dots li.slick-active button:before {
    color: lightgreen !important;
  }
  .slick-dots li button:before {
    color: #fff !important;
    font-size: 1rem !important;
    top: 2rem !important;
  }
  .courses{
    text-align: center;
  }
  @media only screen and (max-width:1024px) {

    .Carousel-p{
      padding: 5rem 2rem 0rem 2rem;
      height: 38rem;
      
    }
    .slick-slide div{
      margin: 0 0.5rem;
    }
    .box-p p{
      margin: 15px 0px -8px 10px;
    }
  }