.solution-container{
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.solution-container h3{
    color: orange;
}
.solution{
    text-align: center;
}