.events{
  margin: 20px 0px 0px 0px;
  text-align: center;
  font-size: 45px ;
  color: green;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.event
{
  width: 100%;
  min-height: 80vh;
}
.box-event{
  height: 170px;
  width: 600px;
  border: 2px solid red;
  display:inline-flex;
  margin: 20px 0px 0px 90px;
  padding: 0rem;
}
.box-event-left{
  width: 120px;
  border: 5px solid #ff0000;
  text-align: center;
  background-color: white;
}
.box-event-left h2{
  font-size: 75px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0px 0px 0px 25px;
}
.box-event-left h5{
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px 0px 0px 25px;
}
.box-event-right{
  width: 500px;
  background-color: white;
  border: 5px solid red;
}
.box-event-right h5{
  font-size: 18px;
  font-weight: bold;
  padding: 0.2rem;
}
.box-event-right p{
  margin: 0px 0px 0px 3px;
}