.crousel-container{
    height: 62vh;
    background-color: rgb(57, 118, 231);
    margin: 10px 0px 0px 0px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .Carousel-c{
    padding: 3.5rem;
    background-color:rgb(224, 224, 224);
    color: black;
    height: 67vh;
    width: 98.8vw;
    position: relative;
  }
  .box-c{
    background-color: white;
    border: 5px solid red;
    height: 360px;
    margin: 0px 0px 0px 0px;
  }
  .box-c h3{
    text-align: center;
  }
  .slick-slide div{
    margin: 0 1rem;
  }
  .slick-dots li.slick-active button:before {
    color: lightgreen !important;
  }
  .slick-dots li button:before {
    color: #fff !important;
    font-size: 1rem !important;
    top: 2rem !important;
  }
  .slider-container{
    display: inline-flex;

  }