.club-container{
    padding: 3rem;
    /* display: inline-flex; */
}
.writin{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
.club-title{
    font-size: 35px;
    color: green;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.club-image{
    margin: 0px 0px 0px 400px;
}
.club-survey{
    font-size: 35px;
    color: green;
    text-align: center;
}
.club-survey-p{
    text-align: center;
    color: orangered;
}
.one{
    display: inline-flex;
}
.result-cont{
    padding: 3rem;
    display: inline-flex;
    
}
.result-cont div{
    border: 3px solid red;
    margin: 0px 0px 0px 80px;
}