
.writin{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
.club-title{
    font-size: 35px;
    color: green;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.club-image{
    display: flex;
    justify-content: center;
   
}
.club-image img{
    border: 5px solid red;
}
.club-survey{
    font-size: 35px;
    color: green;
    text-align: center;
}
.club-survey-p{
    text-align: center;
    color: orangered;
}
.one{
    display: inline-flex;
}
.result-cont{
  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.result-cont div{
    border: 3px solid red;
    margin: auto;
}